name: Push-to-EC2

# Trigger deployment only on push to development branch
on:
  push:
    branches: [ master ]

jobs:
  deploy:
    name: Deploy to EC2 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the files
        uses: actions/checkout@v2
        
      - name: multiple command
        uses: appleboy/ssh-action@master
        env:
            BRANCH: ${{ github.ref_name }}
            BUILD_NUMBER: ${{ github.run_number }}
 
        with:
          host: ${{ secrets.HOST_DNS }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script_stop: true
          envs: BRANCH, BUILD_NUMBER
          script: |
            pwd
            cd product-compare-react/
            sudo docker build -t my-node-app:$BUILD_NUMBER .
            sudo docker stop my-node-app-container || true
            sudo docker rm  my-node-app-container || true
            sudo docker run -d --name my-node-app-container -p 3000:3000 my-node-app:$BUILD_NUMBER
            sudo docker system prune -a -f
